.body {
    margin: 0 auto;
    padding: 0;

}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 200px;
    align-items: center;
}

.subtitle {
    border-top: 1px solid #fee8af;
    background-color: #fdfbf1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #107777;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 50%;
}

.main-container h1 {
    color: #333333;
    text-align: center;
}

.main-container img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    color: #9e9e9e;
}

.link-image {
    margin-top: 20px;
    border-left: 3px solid #fee8af;
    padding-left: 20px;
    margin-bottom: 30px;
}

.link-image h4 {
    color: #b5460f;
    margin: 0;
    padding: 0;
}

.link-image a {
    color: #127878;
}

.second-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: left;
}

.list h3, .Method h3 {
    border-bottom: 3px solid #eefbfb;  
    object-fit: contain;
    
}

.list ul {
    line-height: 2;
}

.Method li {
    font-weight: bold;
}

.Method p{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: left;
    padding-left: 20px;
}

.link a{
    color: #127878
}



